/*===== GOOGLE FONTS =====*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");

/*===== VARIABLES CSS =====*/
:root {
  --header-height: 3rem;

  /*========== Colors ==========*/
  --first-color: #3e0e12;
  --first-color-dark: #2f0a0d;
  --text-color: #524748;
  --first-color-light: #7b6f71;
  --first-color-lighten: #fbf9f9;
  --body-color: #0a0501;

  /*========== Font and typography ==========*/
  --body-font: "Poppins", sans-serif;
  --biggest-font-size: 2.5rem;
  --h1-font-size: 1.5rem;
  --h2-font-size: 1.25rem;
  --h3-font-size: 1.125rem;
  --normal-font-size: 0.938rem;
  --small-font-size: 0.813rem;
  --smaller-font-size: 0.75rem;

  /*========== Font weight ==========*/
  --font-medium: 500;
  --font-semi-bold: 600;
  --font-bold: 700;

  /*========== Margenes ==========*/
  --mb-1: 0.5rem;
  --mb-2: 1rem;
  --mb-3: 1.5rem;
  --mb-4: 2rem;
  --mb-5: 2.5rem;
  --mb-6: 3rem;

  /*========== z index ==========*/
  --z-normal: 1;
  --z-tooltip: 10;
  --z-fixed: 100;
}

@media screen and (min-width: 768px) {
  :root {
    --biggest-font-size: 4.5rem;
    --h1-font-size: 2.25rem;
    --h2-font-size: 1.5rem;
    --h3-font-size: 1.25rem;
    --normal-font-size: 1rem;
    --small-font-size: 0.875rem;
    --smaller-font-size: 0.813rem;
  }
}

/*========== BASE ==========*/
*,
::before,
::after {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

/*========== Variables Dark theme ==========*/
body.dark-theme {
  --title-color: #f1f3f2;
  --text-color: #c7d1cc;
  --body-color: #1d2521;
  --container-color: #27302c;
}

/*========== Button Dark/Light ==========*/
.change-theme {
  position: absolute;
  right: 1rem;
  top: 1.8rem;
  color: var(--text-color);
  font-size: 1rem;
  cursor: pointer;
}

body {
  margin: var(--header-height) 0 0 0;
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  font-weight: var(--font-medium);
  background-color: var(--first-color-lighten);
  color: var(--text-color);
  line-height: 1.6;
}

h1,
h2,
h3,
p,
ul {
  margin: 0;
}

h2,
h3 {
  font-weight: var(--font-semi-bold);
}

ul {
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

/*========== CLASS CSS ==========*/
.section {
  padding: 4rem 0 2rem;
}

.section-title,
.section-subtitle {
  text-align: center;
}

.section-title {
  font-size: var(--h1-font-size);
  color: var(--title-color);
  margin-bottom: var(--mb-3);
}

.section-subtitle {
  display: block;
  font-size: var(--smaller-font-size);
  /* color: var(--first-color); */
  font-weight: var(--font-semi-bold);
  margin-bottom: var(--mb-1);
}

/*========== LAYOUT ==========*/
.bd-container {
  max-width: 1024px;
  width: calc(100% - 2rem);
  margin-left: var(--mb-2);
  margin-right: var(--mb-2);
}

.bd-grid {
  display: grid;
  gap: 1.5rem;
}

.l-header {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: var(--z-fixed);
  background-color: #000;
}

/*========== NAV ==========*/
.nav {
  max-width: 1024px;
  height: var(--header-height);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media screen and (max-width: 769px) {
  .nav__menu {
    position: fixed;
    top: -100%;
    left: 0;
    width: 100%;
    padding: 1.5rem 0 1rem;
    text-align: center;
    background-color: #000;
    transition: 0.6s;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.1);
    border-radius: 0 0 1rem 1rem;
    z-index: var(--z-fixed);
  }
}

.nav__item {
  margin-bottom: var(--mb-3);
}

.nav__link {
  color: var(--first-color-lighten);
  transition: 0.3s;
}

.nav__link:hover {
  color: var(--first-color-light);
}

.nav__logo,
.nav__toggle {
  color: var(--first-color-lighten);
}

.nav__toggle {
  font-size: 1.3rem;
  cursor: pointer;
}

/* .nav__link,
.nav__logo,
.nav__toggle {
  color: var(--text-color);
  font-weight: var(--font-medium);
} */

/* Show menu */
.show-menu {
  top: var(--header-height);
}

/* Active menu */
.active-link {
  position: relative;
  /* color: var(--first-color-dark); */
}

.active-link::after {
  content: "";
  position: absolute;
  bottom: -0.7rem;
  left: 0;
  width: 65%;
  height: 3px;
  background-color: var(--first-color-light);
}

/* Change background header */
.scroll-header {
  background-color: var(--first-color-lighten);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.scroll-header .nav__logo,
.scroll-header .nav__toggle,
.scroll-header .nav__link {
  color: var(--first-color-dark);
}

.scroll-header .nav__menu {
  background-color: var(--first-color-lighten);
}

/* Scroll top */
.scrolltop {
  position: fixed;
  width: 2.5rem;
  right: 1rem;
  bottom: -20%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.5rem;
  background: rgba(123, 111, 113, 0.7);
  border-radius: 0.5rem;
  z-index: var(--z-tooltip);
  cursor: pointer;
  transition: 0.4s;
  visibility: hidden;
}

.scrolltop:hover {
  background-color: var(--first-color);
}

.scrolltop__icon {
  font-size: 1.8rem;
  color: var(--first-color-lighten);
}

/* Show scrolltop */
.show-scroll {
  visibility: visible;
  bottom: 1.5rem;
}

/*========== HOME ==========*/
.home {
  background-color: var(--body-color);
  overflow: hidden;
}

.home__container {
  position: relative;
  height: calc(100vh - var(--header-height));
  grid-template-rows: repeat(2, max-content);
  align-content: space-around;
  row-gap: 2rem;
}

.home__data {
  border-left: 4px solid var(--first-color-lighten);
  color: var(--first-color-lighten);
  padding-left: 1.5rem;
  z-index: var(--z-tooltip);
}

.home__name {
  font-size: var(--biggest-font-size);
}

.home__greeting,
.home__profession {
  display: block;
  font-weight: var(--font-bold);
}

.home__greeting {
  font-size: 0.813rem;
}

.home__profession {
  font-size: 0.938rem;
  margin-bottom: var(--mb-3);
}

.home__img {
  position: absolute;
  right: 0;
  bottom: 0;
}

.home__img img {
  width: 380px;
}

.home__social {
  display: flex;
  flex-direction: column;
  z-index: var(--z-tooltip);
}

.home__social-icon {
  width: max-content;
  font-size: 1.9rem;
  margin-bottom: var(--mb-2);
}

.home__social-icon:hover {
  color: var(--first-color-light);
}

/*========== BUTTONS ==========*/
.button {
  display: inline-block;
  background-color: var(--first-color);
  color: var(--first-color-lighten);
  padding: 0.75rem 1rem;
  border-radius: 0.5rem;
  transition: 0.3s;
}

.button:hover {
  background-color: var(--first-color-dark);
}

.button-light {
  background-color: var(--first-color-light);
}

.button-link {
  background: none;
  color: var(--first-color);
  padding: 0;
}

.button-link:hover {
  background: none;
}

/*========== ABOUT ==========*/
.about__data {
  text-align: center;
}

.about__description span {
  font-size: var(--h2-font-size);
  font-weight: var(--font-semi-bold);
  color: var(--first-color);
}

.about__number {
  font-size: var(--h1-font-size);
  color: var(--first-color);
  display: block;
}

.about__img {
  justify-self: center;
  width: 220px;
  border-radius: 0.5rem;
}

.about__img {
  width: 280px;
  border-radius: 0.5rem;
  justify-self: center;
}

/*========== SERVICES ==========*/
.services__data {
  padding: 3rem 1rem;
  background-color: #fff;
  border-radius: 0.5rem;
  text-align: center;
  transition: 0.4s;
  box-shadow: 0 4px 6px rgba(174, 190, 205, 0.3);
}

.services__icon,
.services__title {
  margin-bottom: var(--mb-2);
  color: var(--first-color);
}

.services__icon {
  font-size: 3rem;
}

.services__title {
  font-size: var(--h3-font-size);
}

.services__description {
  margin-bottom: var(--mb-4);
}

.services__data:hover {
  transform: translateY(-0.5rem);
  box-shadow: 0 6px 8px rgba(174, 190, 205, 0.4);
}

/*========== ProductionView ==========*/
/* .productionlist__nav {
  text-align: center;
  margin-bottom: (--mb-3);
}

.productionlist__item {
  margin: 0 var(--mb-2);
  cursor: pointer;
} */

.productionlist__content {
  background-color: #fff;
  border-radius: 0.5rem;
  overflow: hidden;
  box-shadow: 0 4px 6px rgba(174, 190, 205, 0.3);
}

.productionlist__img {
  width: 100%;
  transition: 0.4s;
}

.productionlist__data {
  padding: 1.5rem;
}

.productionlist__subtitle {
  font-size: var(--small-font-size);
  color: var(--first-color-light);
}

.productionlist__title {
  font-size: var(--h3-font-size);
  color: var(--first-color);
  margin: var(--mb-2) 0;
}

.productionlist__content:hover {
  box-shadow: 0 6px 8px rgba(174, 190, 205, 0.4);
}

.productionlist__content:hover .productionlist__img {
  transform: scale(1.02);
}
/*========== CONTACT ==========*/
.contact__container {
  text-align: center;
}

.contact__description {
  margin-bottom: var(--mb-3);
}

/*========== FOOTER ==========*/
.footer__container {
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  row-gap: 2rem;
}

.footer__logo {
  font-size: var(--h3-font-size);
  color: var(--first-color);
  font-weight: var(--font-semi-bold);
}

.footer__description {
  display: block;
  font-size: var(--small-font-size);
  margin: 0.25rem 0 var(--mb-3);
}

.footer__social {
  font-size: 1.5rem;
  color: var(--title-color);
  margin-right: var(--mb-2);
}

.footer__title {
  font-size: var(--h2-font-size);
  color: var(--title-color);
  margin-bottom: var(--mb-2);
}

.footer__link {
  display: inline-block;
  color: var(--text-color);
  margin-bottom: var(--mb-1);
}

.footer__link:hover {
  color: var(--first-color);
}

.footer__copy {
  text-align: center;
  font-size: var(--small-font-size);
  color: var(--text-color-light);
  margin-top: 3.5rem;
}

/*========== MEDIA QUERIES ==========*/
@media screen and (min-width: 576px) {
  .about__container,
  .app__container {
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
  }

  .about__data,
  .about__initial,
  .app__data,
  .app__initial,
  .contact__container,
  .contact__initial {
    text-align: initial;
  }

  .about__img,
  .app__img {
    width: 380px;
    order: -1;
  }

  .contact__container {
    grid-template-columns: 1.75fr 1fr;
    align-items: center;
  }
  .contact__button {
    justify-self: center;
  }
}

@media screen and (min-width: 769px) {
  body {
    margin: 0;
  }

  .section {
    padding-top: 8rem;
  }

  .nav {
    height: calc(var(--header-height) + 1.5rem);
  }
  .nav__list {
    display: flex;
  }
  .nav__item {
    margin-left: var(--mb-5);
    margin-bottom: 0;
  }
  .nav__toggle {
    display: none;
  }

  .change-theme {
    position: initial;
    margin-left: var(--mb-2);
  }

  .home__container {
    height: 100vh;
    justify-items: center;
  }

  .services__container,
  .menu__container {
    margin-top: var(--mb-6);
  }

  .menu__container {
    grid-template-columns: repeat(3, 210px);
    column-gap: 4rem;
  }
  .menu__content {
    padding: 1.5rem;
  }
  .menu__img {
    width: 130px;
  }

  .app__store {
    margin: 0 var(--mb-1) 0 0;
  }
}

@media screen and (min-width: 960px) {
  .bd-container {
    margin-left: auto;
    margin-right: auto;
  }

  .home__img {
    width: 500px;
  }

  .about__container,
  .app__container {
    column-gap: 7rem;
  }
}
